<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div data-controller="hello">
    <% for pref in [:men, :women, :children] do %>
      <div class="preference">
        <%= form.label pref, style: "display: block" %>
        <%= form.check_box pref, 'data-action': "change->hello#update_prefs" %>
      </div>
    <% end %>

    <input type="hidden" name="preferences" data-hello-target="preferences">
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
